* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

#calculator {
	margin: 50px auto;
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	max-width: 400px;
}

#result-container {
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

#result {
	border: none;
	font-size: 24px;
	width: 100%;
}

#button-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	margin-bottom: 10px;
}

button {
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	background-color: #e0e0e0;
	color: black;
}

button:hover {
	background-color: #d4d4d4;
}

.operator {
	background-color: #ff9500;
	color: white;
}

.operator:hover {
	background-color: #e88f00;
}

#equals {
	background-color: #ffcc00;
}

#equals:hover {
	background-color: #e6bf00;
}

#history {
	display: none;
}

#history li {
	color: black;
	margin-bottom: 5px;
}

